<form class="{{cssClass}} flexcol" autocomplete="off">

  <!-- Sheet Header -->
  <div class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
      {{#if (eq actor.type "character")}}
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="data.attributes.race" class="resource-label">Peuple</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="data.attributes.race">
              <option value=""></option>
              {{#select data.attributes.race }}
              {{#each data.races }}
              <option value="{{this.code}}">{{this.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.attributes.divinity" class="resource-label">Divinité</label>
          <div class="resource-content flexrow flex-center flex-between">
            <select name="data.attributes.divinity">
              <option value=""></option>
              {{#select data.attributes.divinity }}
              {{#each data.divinities }}
              <option value="{{this.code}}">{{this.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class="resource flex-group-center">
          <label for="data.attributes.level" class="resource-label">Niveau</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="data.attributes.level" value="{{data.attributes.level}}" data-dtype="Number" />
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

  <!-- Sheet Mid-Header -->
  <div class="sheet-header mid-header">
    <div class="caracts grid grid-3col">
      {{#each data.caracts as |caract key|}}
      <div class="caract flexrow flex-group-center">
        <label for="data.caracts.{{key}}.value" class="resource-label rollable" data-roll="(@caracts.{{key}}.value)d6"
          data-label="{{caract.name}}">{{caract.name}}</label>
        <input type="text" name="data.caracts.{{key}}.value" value="{{caract.value}}" data-dtype="Number" />
      </div>
      {{/each}}
      <div class="caract flexrow flex-group-center">
        <label class="resource-label">Initiative</label>
        <label>+{{data.init}}</label>
      </div>
    </div>
  </div>

  <!-- Sheet Tri-Header -->
  <div class="sheet-header tri-header">
    <div class="healthLevels grid grid-3col grid-full-width">
      <div class="resource flex-group-center grid-tiers-1">
        <label for="data.health.value" class="resource-label">{{data.health.name}}</label>
        <div class="resource-content flexrow flex-center">
          <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number" />
          <span> / </span>
          <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" disabled />
        </div>
      </div>
      <div class="resource flex-group-center grid-tiers-2">
        <label class="resource-label">{{data.health.indic}}</label>
        <div class="resource-content flexrow flex-center">
          {{#each data.healthLevels as |healthLevel key|}}
          {{#if (gte healthLevel.max 3)}}
          <input type='checkbox' {{#if (gte healthLevel.value 3)}}checked{{/if}} disabled>
          {{/if}}
          {{#if (gte healthLevel.max 2)}}
          <input type='checkbox' {{#if (gte healthLevel.value 2)}}checked{{/if}} disabled>
          {{/if}}
          {{#if (gte healthLevel.max 1)}}
          <input type='checkbox' {{#if (gte healthLevel.value 1)}}checked{{/if}} disabled>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>


  <!-- Sheet Tab Navigation -->
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="skills">Compétences</a>
    <a class="item" data-tab="spells">Cristaux</a>
    <a class="item" data-tab="features">Armes / Armures</a>
    <a class="item" data-tab="items">Objets</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <!-- Sheet Body -->
  <section class="sheet-body">

    <!-- Owned Skills Tab -->
    <div class="tab skills" data-group="primary" data-tab="skills">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Nom</div>
          <div class="item-value">Valeur</div>
          <div class="item-spec">Spécialité</div>
          <div class="item-controls">Lancés</div>
        </li>

        {{#each data.skills as |skill key|}}
        {{#each skill.caracts as |caract keyCaract|}}
        <li class="item flexrow no-drag" data-item-id="{{skill.key}}{{skill.key}}">
          <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{skill.name}} ({{caract}})</h4>
          <div class="item-value">
            {{#if (eq @index 0)}}
            <input type="text" name="data.skills.{{key}}.value" value="{{skill.value}}" data-dtype="Number" />
            {{/if}}
            {{#if (gte @index 1)}}
            <h4 class="item-name">{{skill.value}}</h4>
            {{/if}}
          </div>
          <div class="item-spec">
            {{#if (eq @index 0)}}
            <select name="data.skills.{{key}}.spec">
              <option value=""></option>
              {{#select skill.spec }}
              {{#each skill.specs }}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
              {{/select}}
            </select>
            {{/if}}
            {{#if (gte @index 1)}}
            <h4 class="item-name">{{skill.spec}}</h4>
            {{/if}}
          </div>
          <div class="item-controls">
            <a class="item-control " title="Lancé avec Malus"><i class="fas fa-dice-one"></i></a>
            <a class="item-control " title="Lancé Normal"><i class="fas fa-dice"></i></a>
            <a class="item-control " title="Lancé avec Bonus"><i class="fas fa-dice-six"></i></a>
          </div>
        </li>
        {{/each}}
        {{/each}}
      </ol>
    </div>

    <!-- Owned Features Tab -->
    <div class="tab features" data-group="primary" data-tab="features">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="feature"><i class="fas fa-plus"></i> Add
              item</a>
          </div>
        </li>
        {{#each actor.features as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    <!-- Owned Items Tab -->
    <div class="tab items" data-group="primary" data-tab="items">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add
              item</a>
          </div>
        </li>
        {{#each actor.gear as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    <!-- Owned Spells Tab -->
    <div class="tab spells" data-group="primary" data-tab="spells">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Name</div>
          <div class="item-controls"></div>
        </li>
        {{#each actor.spells as |spells spellLevel|}}
        <li class="item flexrow item-header">
          <div class="item-name">Level {{spellLevel}} Spells</div>
          <div class="item-controls">
            <a class="item-control item-create" title="Create item" data-type="spell"
              data-spell-level="{{spellLevel}}"><i class="fas fa-plus"></i> Add LVL {{spellLevel}}</a>
          </div>
        </li>
        {{#each spells as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
        {{/each}}
      </ol>
    </div>

    <!-- Biography Tab -->
    <div class="tab biography" data-group="primary" data-tab="description">
      {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
    </div>

  </section>
</form>