<form class="{{cssClass}} flexcol" autocomplete="off">

  <!-- Sheet Header -->
  <header
    {{#if (eq actor.type "character" )}} class="sheet-header" {{/if}}
    {{#if (ne actor.type "character" )}} class="sheet-header sheet-min" {{/if}}>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </h1>

      {{#if (eq actor.type "character")}}
      <div class="grid grid-3col">
        <div class="flex-group-center">
          <label for="system.race" class="title-up-label">Peuple</label>
          <div class="flexrow flex-center flex-between">
            <select name="system.race">
              <option value="">-</option>
              {{#select system.race }}
              {{#each races }}
              <option value="{{this.code}}">{{this.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class="flex-group-center">
          <label for="system.divinity" class="title-up-label">Divinité</label>
          <div class="flexrow flex-center flex-between">
            <select name="system.divinity">
              <option value="">-</option>
              {{#select system.divinity }}
              {{#each divinities }}
              <option value="{{this.code}}">{{this.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class="flex-group-center">
          <label for="system.level" class="title-up-label">Niveau</label>
          <div class="flexrow flex-center flex-between">
            <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </header>

  <!-- Sheet Tri-Header -->
  {{#if (ne actor.type "pnj")}}
  <div class="sheet-header tri-header">
    <div class="healthLevels grid grid-3col grid-full-width">
      <div class="flex-group-center grid-tiers-1">
        <label for="system.health.value" class="title-up-label">{{system.health.name}}</label>
        <div class="flexrow flex-center">
          <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number"
            title="Actuels" />
          <span> / </span>
          <input type="text" name="system.health.max" value="{{system.health.max}}" data-dtype="Number" title="Maximum"
            disabled />
        </div>
      </div>
      <div class="flex-group-center grid-tiers-2">
        <label class="title-up-label">État actuel : {{system.health.indic}}</label>
        <div class="flexrow flex-center">
          {{#each system.healthLevels as |healthLevel key|}}
          |
          {{#if (gte healthLevel.max 1)}}
          <input type='checkbox' {{#if (gte healthLevel.value 1)}}checked{{/if}} disabled>
          {{/if}}
          {{#if (gte healthLevel.max 2)}}
          <input type='checkbox' {{#if (gte healthLevel.value 2)}}checked{{/if}} disabled>
          {{/if}}
          {{#if (gte healthLevel.max 3)}}
          <input type='checkbox' {{#if (gte healthLevel.value 3)}}checked{{/if}} disabled>
          {{/if}}
          {{#if (gte healthLevel.max 4)}}
          <input type='checkbox' {{#if (gte healthLevel.value 4)}}checked{{/if}} disabled>
          {{/if}}
          {{#if (gte healthLevel.max 5)}}
          <input type='checkbox' {{#if (gte healthLevel.value 5)}}checked{{/if}} disabled>
          {{/if}}
          {{#if (gte healthLevel.max 6)}}
          <input type='checkbox' {{#if (gte healthLevel.value 6)}}checked{{/if}} disabled>
          {{/if}}
          {{#if (gte healthLevel.max 7)}}
          ...
          {{/if}}
          {{/each}}
          |
        </div>
      </div>
    </div>
  </div>

  <!-- Sheet Mid-Header -->
  <div class="sheet-header mid-header">
    <div class="grid grid-3col grid-full-width">
      {{#each system.caracts as |caract key|}}
      <div class="flexrow flex-group-center">
        <label for="system.caracts.{{key}}.value" class="title-up-label rollable"
          data-caractKey="{{key}}">{{caract.name}}</label>
        <div class="input-value-base">
          <input type="text" name="system.caracts.{{key}}.value" value="{{caract.value}}" data-dtype="Number"
            title="Actuel" />
          <span>(</span>
          <input type="text" name="system.caracts.{{key}}.base" value="{{caract.base}}" data-dtype="Number"
            title="De base" />
          <span>)</span>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <!-- Sheet Tab Navigation -->
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="powers">Pouvoirs</a>
    {{#if (eq actor.type "character")}}
    <a class="item" data-tab="skills">Compétences</a>
    <a class="item" data-tab="equipments">Équipement</a>
    {{/if}}
    <a class="item" data-tab="backpack">Objets</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <!-- Sheet Body -->
  <section class="sheet-body">

    {{#if (eq actor.type "character")}}
    <!-- Owned Skills Tab -->
    <div class="tab skills height-auto" data-group="primary" data-tab="skills">
    </div>

    <!-- Owned Powers Tab -->
    <div class="tab powers" data-group="primary" data-tab="powers">
      <div class="grid grid-2col">
        <div class="flex-group-center">
          <label for="system.speciality01" class="title-up-label">Classe principale</label>
          <select name="system.speciality01">
            <option value="">-</option>
            {{#select system.speciality01 }}
            {{#each specialities }}
            <option value="{{this.code}}">{{this.name}} ({{this.group}})</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div class="flex-group-center">
          <label for="system.speciality02" class="title-up-label">Classe secondaire</label>
          <select name="system.speciality02">
            <option value="">-</option>
            {{#select system.speciality02 }}
            {{#each specialities }}
            <option value="{{this.code}}">{{this.name}} ({{this.group}})</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Nom du pouvoir</div>
          <div class="item-small text-center"></div>
          <div class="item-small text-center">Rang</div>
          <div class="item-normal text-center">Classe</div>
          <div class="item-big">Détails</div>
          <div class="item-controls">
            <a class="item-create" title="Ajouter un pouvoir" data-type="power">
              <i class="fas fa-plus"></i>
              Ajouter
            </a>
          </div>
        </li>

        {{#each actor.powers as |power id|}}
          <li class="item flexrow" data-item-id="{{power._id}}">
            <div class="item-image"><img src="{{power.img}}" width="24" height="24" /></div>
            <h4 class="item-name">{{power.name}}</h4>
            <div class="item-small text-center">
              <a class="rollable" title="Utiliser le pouvoir" data-caractKey="mag" data-powerId="{{power._id}}">
                <i class="fas fa-dice"></i>
              </a>
            </div>
            <div class="item-small text-center">{{codeToLibelle ../ranks power.system.rank}}</div>
            <div class="item-normal text-center">{{codeToLibelle ../specialities power.system.speciality}}</div>
            <div class="item-big">
              <i class="fas fa-book-open" title="{{codeToLibelle ../families power.system.family}}"></i>
              <i class="fas fa-hourglass-half" title="{{codeToLibelle ../durations power.system.duration}}"></i>
              <i class="fas fa-bullseye" title="{{codeToLibelle ../ranges power.system.range}}"></i>
              {{#if (eq power.system.chaneling true)}}
                <i class="fas fa-refresh" title="Avec canalisation"></i>
              {{/if}}
            </div>
            <div class="item-controls">
              <a class="item-edit" title="Modifier le pouvoir"><i class="fas fa-edit"></i></a>
              <a class="item-delete" title="Supprimer le pouvoir"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
        
        {{#if (eq actor.powers.length 0)}}
          <li class="item flexrow text-center">
            <div>Aucun pouvoir</div>
          </li>
        {{/if}}
      </ol>

      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Nom du pouvoir</div>
          <div class="item-small text-center"></div>
          <div class="item-big text-center">Source</div>
          <div class="item-big">Détails</div>
          <div class="item-controls">
            <a class="item-create" title="Ajouter un pouvoir" data-type="power">
              <i class="fas fa-plus"></i>
              Ajouter
            </a>
          </div>
        </li>

        {{#each actor.othersPowers as |power id|}}
          <li class="item flexrow with-drag" data-item-id="{{power._id}}">
            <div class="item-image"><img src="{{power.img}}" width="24" height="24" /></div>
            <h4 class="item-name">{{power.name}}</h4>
            <div class="item-small text-center">
              <a class="rollable" title="Utiliser le pouvoir" data-caractKey="mag" data-powerId="{{power._id}}">
                <i class="fas fa-dice"></i>
              </a>
            </div>
            <div class="item-big text-center">{{power.system.powerType}}</div>
            <div class="item-big">
              <i class="fas fa-book-open" title="{{power.system.family}}"></i>
              <i class="fas fa-hourglass-half" title="{{power.system.duration}}"></i>
              <i class="fas fa-bullseye" title="{{power.system.range}}"></i>
              {{#if (eq power.system.chaneling true)}}
                <i class="fas fa-refresh" title="Avec canalisation"></i>
              {{/if}}
            </div>
            <div class="item-controls">
              <a class="item-edit" title="Modifier le pouvoir"><i class="fas fa-edit"></i></a>
              <a class="item-delete" title="Supprimer le pouvoir"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}

        {{#if (eq actor.othersPowers.length 0)}}
          <li class="item flexrow text-center">
            <div>Aucun cristal instantané, ou parchemin...</div>
          </li>
        {{/if}}
      </ol>
    </div>

    <!-- Owned Equipments Tab -->
    <div class="tab equipments" data-group="primary" data-tab="equipments">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name"></div>
          <div class="item-controls"></div>
        </li>
        {{#each actor.equipments as |equipments equipmentType|}}
        <li class="item flexrow item-header">
          <div class="item-name">{{equipmentType}}</div>
          <div class="item-controls">
            <a class="item-create" title="Ajouter {{toLowerCase equipmentType}}" data-type="equipment"
              data-equipment-type="{{equipmentType}}"><i class="fas fa-plus"></i> Ajouter</a>
          </div>
        </li>
        {{#each equipments as |equipment id|}}
        <li class="item flexrow" data-item-id="{{equipment._id}}">
          <div class="item-image"><img src="{{equipment.img}}" title="{{equipment.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{equipment.name}}</h4>
          <div class="item-controls">
            <a class="item-edit" title="Modifier équipement"><i class="fas fa-edit"></i></a>
            <a class="item-delete" title="Supprimer équipement"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
        {{/each}}
      </ol>
    </div>
    {{/if}}

    <!-- Owned Backpack Tab -->
    <div class="tab backpack" data-group="primary" data-tab="backpack">
      <ol class="items-list">
        <li class="item flexrow item-header">
          <div class="item-image"></div>
          <div class="item-name">Nom</div>
          <div class="item-value">Quantité</div>
          <div class="item-details">Type</div>
          <div class="item-controls">
            <a class="item-create" title="Ajouter objet" data-type="item">
              <i class="fas fa-plus"></i> Ajouter objet
            </a>
          </div>
        </li>
        {{#each actor.backpack as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
          <h4 class="item-name">{{item.name}}</h4>
          <div class="item-value">
            <input class="inline-edit-value" data-field="item.data.quantity" type="text" value="{{item.data.quantity}}"
              data-dtype="Number" />
          </div>
          <h4 class="item-details">{{item.data.itemType}}</h4>
          <div class="item-controls">
            <a class="item-edit" title="Modifier objet"><i class="fas fa-edit"></i></a>
            <a class="item-delete" title="Supprimer objet"><i class="fas fa-trash"></i></a>
          </div>
        </li>
        {{/each}}
      </ol>
    </div>

    <!-- Biography Tab -->
    <div class="tab biography" data-group="primary" data-tab="description">
      {{
        editor
        enrichedBiography
        target="system.biography"
        editable=editable
        button=true
       }}
    </div>

  </section>
</form>
