<form class="flexcol" autocomplete="off">
  <div class="grid grid-1col">
    <div class="flex-group-center">
      <label for="difficulty" class="title-up-label">Difficulté : </label>
      <select name="difficulty" id="rollDifficulty">
        {{#select difficulty }}
          {{#each difficulties }}
            <option value="{{this.code}}">{{this.name}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>

  <div class="grid grid-1col">
    <div class="flex-group-center">
      <div>Caractéristique liée : <b>{{ caractName }}</b></div>
      <div>Valeur naturelle : <b>{{ caractValue }}</b></div>
    </div>
  </div>

  <div class="grid grid-1col">
    <div class="flex-group-center">
      <div>Ne pas oublier :</div>
      <div>- les bonus-malus <b>de la santé</b></div>
      <div>- les bonus-malus <b>de l'équipement</b></div>
      <div>- les autres <b>avantages et désavantages</b></div>
    </div>
  </div>

  <div class="grid grid-1col">
    <div class="flex-group-center">
      <label for="bonusMalus" class="title-up-label">Bonus / Malus : </label>
      <select name="bonusMalus" id="rollBonusMalus">
        {{#select bonusMalus }}
          {{#each bonusMalusList }}
            <option value="{{this.code}}">{{this.name}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
</form>