<form class="flexcol" autocomplete="off">

  <div class="grid grid-1col">
    <div class="flex-group-center">
      <div>La difficulté est définie par :</div>
      <div>- la <b>complexité de l'action</b> à réaliser</div>
      <div>- la <b>situation environnante</b></div>
      <div>- les <b>blessures</b> du personnage</div>
      <div>- ou le <b>rang du pouvoir</b> à utiliser</div>
    </div>
  </div>

  <div class="grid grid-1col">
    <div class="flex-group-center">
      <label for="difficulty" class="title-up-label">Difficulté : </label>
      <select name="difficulty" id="rollDifficulty">
        {{#select difficulty }}
          {{#each difficulties }}
            <option value="{{this.code}}">{{this.name}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>

  <div class="grid grid-1col">
    <div class="flex-group-center">
      <div>Caractéristique liée : <b>{{ caractName }}</b></div>
      <div>Valeur naturelle : <b>{{ caractValue }}</b></div>
    </div>
  </div>

  <div class="grid grid-1col">
    <div class="flex-group-center">
      <div>Les bonus / malus sont définis par :</div>
      <div>- l'<b>équipement</b> du personnage</div>
      <div>- ou les <b>compétences</b> du personnage</div>
    </div>
  </div>

  <div class="grid grid-1col">
    <div class="flex-group-center">
      <label for="bonusMalus" class="title-up-label">Bonus / Malus : </label>
      <select name="bonusMalus" id="rollBonusMalus">
        {{#select bonusMalus }}
          {{#each bonusMalusList }}
            <option value="{{this.code}}">{{this.name}}</option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
</form>