<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header sheet-min">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Propriétés</a>
        <a class="item" data-tab="description">Notes</a>
    </nav>

    <!-- Sheet Body -->
    <section class="sheet-body">
        <!-- Properties Tab -->
        <div class="tab properties" data-group="primary" data-tab="properties">
            <div class="grid grid-2col">
                <div class="flexrow flex-group-center">
                    <label for="system.itemType" class="title-up-label">Type</label>
                    <select name="system.itemType">
                        {{#select system.itemType }}
                        {{#each system.itemTypes }}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="title-up-label">Quantité</label>
                    <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
                </div>
            </div>
        </div>

        <!-- Description Tab -->
        <div class="tab" data-group="primary" data-tab="description">
            {{
                editor
                enrichedBiography
                target="system.description"
                editable=editable  
                button=true 
            }}
        </div>

    </section>
</form>