<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header sheet-min">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Propriétés</a>
        <a class="item" data-tab="description">Notes</a>
    </nav>

    <!-- Sheet Body -->
    <section class="sheet-body">
        <!-- Properties Tab -->
        <div class="tab properties" data-group="primary" data-tab="properties">
            <!-- As you add new fields, add them in here! -->
            <div class="grid grid-1col">
                <div class="flexrow flex-group-center grid-one">
                    <label for="system.featureType" class="title-up-label">Type d'équipement</label>
                    <select name="system.featureType">
                        {{#select system.featureType }}
                        {{#each system.featureTypes }}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="grid grid-1col">
                <div class="flexrow flex-group-center">
                    <label class="title-up-label">Attaque</label>
                    <input type="text" name="system.attack" value="{{system.attack}}" data-dtype="Number" />
                </div>
                <div class="flexrow flex-group-center">
                    <label class="title-up-label">Défense</label>
                    <input type="text" name="system.defence" value="{{system.defence}}" data-dtype="Number" />
                </div>
            </div>
        </div>

        <!-- Description Tab -->
        <div class="tab" data-group="primary" data-tab="description">
            {{
                editor
                enrichedBiography
                target="system.description"
                editable=editable
                button=true
            }}
        </div>

    </section>
</form>