<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header sheet-min">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    <!-- Sheet Body -->
    <section class="sheet-body">
        <!-- Properties Tab -->
        <div class="grid grid-1col">
            <div class="flexrow flex-group-center">
                <label for="system.skillType" class="title-up-label">Type de compétence</label>
                <select name="system.skillType">
                    {{#select system.skillType }}
                        {{#each skillTypes }}
                            <option value="{{this.code}}">{{this.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="grid grid-1col">
            <div class="flexrow flex-group-center">
                La compétence donne 1 dé bonus quand une action se déroule
                dans son contexte.
            </div>
        </div>

        <!-- Description Tab -->
        <div class="item-editor">
            {{
            editor
            enrichedBiography
            target="system.description"
            editable=editable
            button=true
            }}
        </div>
    </section>
</form>