<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header sheet-min">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item title-up-label" data-tab="properties">Propriétés</a>
        <a class="item title-up-label" data-tab="description">Notes</a>
    </nav>

    <!-- Sheet Body -->
    <section class="sheet-body">
        <!-- Properties Tab -->
        <div class="tab properties" data-group="primary" data-tab="properties">
            <div class="grid grid-1col">
                <div class="flexrow flex-group-center">
                    <label for="system.skillType" class="title-up-label">Type de compétence</label>
                    <select name="system.skillType">
                        {{#select system.skillType }}
                        {{#each skillTypes }}
                        <option value="{{this.code}}">{{this.name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            
            <div class="grid grid-1col">
                <div class="flexrow flex-group-center">
                    La compétence donne 1 dé bonus lors qu'une action se déroule
                    dans son contexte.
                </div>
            </div>
        </div>

        <!-- Description Tab -->
        <div class="tab" data-group="primary" data-tab="description">
            {{
                editor
                enrichedBiography
                target="system.description"
                editable=editable  
                button=true 
            }}
        </div>

    </section>
</form>