<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header sheet-min">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item title-up-label" data-tab="properties">Propriétés</a>
        <a class="item title-up-label" data-tab="description">Détail du pouvoir</a>
    </nav>

    <!-- Sheet Body -->
    <section class="sheet-body">
        <!-- Properties Tab -->
        <div class="tab properties" data-group="primary" data-tab="properties">
            <div class="grid grid-1col">
                <div class="flexrow flex-group-center">
                    <label for="system.powerType" class="title-up-label">Source</label>
                    <select name="system.powerType">
                        {{#select system.powerType }}
                            {{#each powerTypes }}
                                <option value="{{this.code}}">{{this.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            {{#if (eq system.powerType "EVO" )}}
                <div class="grid grid-1col">
                    <div class="flexrow flex-group-center">
                        <label for="system.speciality" class="title-up-label">Classe</label>
                        <select name="system.speciality">
                            {{#select system.speciality }}
                                {{#each specialities }}
                                    <option value="{{this.code}}">{{toUpperCase this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>

                <div class="grid grid-1col">
                    <div class="flexrow flex-group-center">
                        Le rang d'un pouvoir indique sa puissance
                        <br>et souvent la difficulté qui sera nécessaire pour l'utiliser.
                        <br> I (Standard) / II (Complexe) / III (Épique) / IV (Légendaire)
                    </div>
                </div>
            {{/if}}

            <div {{#if (eq system.powerType "EVO" )}} class="grid grid-2col" {{/if}} {{#if (ne system.powerType "EVO"
                )}} class="grid grid-1col" {{/if}}>
                <div class="flexrow flex-group-center">
                    <label for="system.family" class="title-up-label">Famille</label>
                    <select name="system.family">
                        {{#select system.family }}
                            {{#each families }}
                                <option value="{{this.code}}">{{this.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                {{#if (eq system.powerType "EVO" )}}
                    <div class="flexrow flex-group-center">
                        <label for="system.rank" class="title-up-label">Rang</label>
                        <select name="system.rank">
                            {{#select system.rank }}
                                {{#each ranks }}
                                    <option value="{{this.code}}">Rang {{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                    </div>
                {{/if}}
            </div>

            <div class="grid grid-2col">
                <div class="flexrow flex-group-center">
                    <label for="system.duration" class="title-up-label">Durée max</label>
                    <select name="system.duration">
                        {{#select system.duration }}
                            {{#each durations }}
                                <option value="{{this.code}}">{{this.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="flexrow flex-group-center">
                    <label for="system.range" class="title-up-label">Portée max</label>
                    <select name="system.range">
                        {{#select system.range }}
                            {{#each ranges }}
                                <option value="{{this.code}}">{{this.name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>

            <div class="grid grid-1col">
                <div class="flexrow flex-group-center">
                    <input type='checkbox' name="system.chaneling" {{checked system.chaneling}}>
                    {{#if (eq system.chaneling true )}}Avec canalisation{{/if}}
                        {{#if (eq system.chaneling false )}}Sans canalisation{{/if}}
                </div>
            </div>
        </div>

        <!-- Description Tab -->
        <div class="tab" data-group="primary" data-tab="description">
            {{
            editor
            enrichedBiography
            target="system.description"
            editable=editable
            button=true
            }}
        </div>

    </section>
</form>