<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header sheet-min">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    <!-- Sheet Body -->
    <section class="sheet-body">
        <!-- Properties Tab -->
        <div class="grid grid-2col">
            <div class="flexrow flex-group-center">
                <label for="system.itemType" class="title-up-label">Type</label>
                <select name="system.itemType">
                    {{#select system.itemType }}
                    {{#each itemTypes }}
                    <option value="{{this.code}}">{{this.name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="flexrow flex-group-center">
                <label class="title-up-label">Quantité</label>
                <input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
            </div>
        </div>

        <!-- Description Tab -->
        <div class="item-editor">
            {{
                editor
                enrichedBiography
                target="system.description"
                editable=editable  
                button=true 
            }}
        </div>
    </section>
</form>