<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header sheet-min">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="properties">Propriétés</a>
        <a class="item" data-tab="description">Détail des maitrises</a>
    </nav>

    <!-- Sheet Body -->
    <section class="sheet-body">
        <!-- Properties Tab -->
        <div class="tab properties" data-group="primary" data-tab="properties">
            <!-- As you add new fields, add them in here! -->
            <div class="grid grid-1col">
                <div class="flexrow flex-group-center">
                    <label for="system.family" class="title-up-label">Famille</label>
                    <select name="system.family">
                        {{#select system.family }}
                        {{#each system.families }}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="flexrow flex-group-center">
                    <label class="title-up-label">Maitrise</label>
                    <div class="input-value-base">
                        <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number" />
                        <span>(</span>
                        <input type="text" name="system.base" value="{{system.base}}" data-dtype="Number" />
                        <span>)</span>
                    </div>
                </div>
            </div>
            <div class="grid grid-1col">
                <div class="flexrow flex-group-center">
                    <label for="system.time" class="title-up-label">Durée max</label>
                    <select name="system.time">
                        {{#select system.time }}
                        {{#each system.times }}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="flexrow flex-group-center">
                    <label for="system.target" class="title-up-label">Portée max</label>
                    <select name="system.target">
                        {{#select system.target }}
                        {{#each system.targets }}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
        </div>

        <!-- Description Tab -->
        <div class="tab" data-group="primary" data-tab="description">
            {{
                editor
                enrichedBiography
                target="system.description"
                editable=editable
                button=true
            }}
        </div>

    </section>
</form>